In [4]:
# *
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

# Ignore harmless warnings
import warnings
warnings.filterwarnings("ignore")

## Stage 1: Raw data

In [5]:
# *
# Enter input paths for footfall data
path_footfall = 'C:/Users/medira/OneDrive - University of Leeds/Projects/AmbPop/AmbPopData/LCC_footfall_cleaned_2021.csv'

# Enter output paths for the folder storing outputs
dir_out = '../AmbPop_Outputs/'

In [6]:
# *
# Load footfall data to pandas DataFrame
df_footfall = pd.read_csv(path_footfall)

df_footfall['DateTime'] = pd.to_datetime(df_footfall['DateTime'])
df_footfall['Date'] = pd.to_datetime(df_footfall['Date'])
df_footfall['Year'] = df_footfall.Date.dt.year
df_footfall['Month'] = df_footfall.Date.dt.month
df_footfall['Hour'] = df_footfall.Date.dt.hour
df_footfall['YearMonth'] = df_footfall.Date.dt.to_period('M')
df_footfall['MonthDay'] = df_footfall.Date.dt.day
df_footfall['WeekDay'] = df_footfall.Date.dt.weekday
df_footfall['WeekDayName'] = df_footfall.Date.dt.day_name()
df_footfall['IsWeekend'] = df_footfall.WeekDay > 4
df_footfall['YearMonthDay'] = df_footfall['Year'].astype(str) + '-' + df_footfall['MonthDay'].astype(str)
df_footfall['YearWeekDay'] = df_footfall['Year'].astype(str) + '-' + df_footfall['WeekDay'].astype(str)
df_footfall['YearMonthWeekDay'] = df_footfall['YearMonth'].astype(str) + '-' + df_footfall['WeekDay'].astype(str)
df_footfall['LocationYear'] = df_footfall['Location'].astype(str) + '-' + df_footfall['Year'].astype(str)
df_footfall['LocationYearMonth'] = df_footfall['Location'].astype(str) + '-' + df_footfall['YearMonth'].astype(str)


df_footfall = df_footfall[['Location', 'LocationYear', 'LocationYearMonth', 'Count', 'DateTime', 'Date', 'Year', 'YearMonth', 'Month',
                           'YearMonthDay', 'MonthDay', 'YearWeekDay', 'WeekDay', 'YearMonthWeekDay',
                           'WeekDayName', 'IsWeekend', 'BRCWeekNum', 'BRCMonthNum', 'BRCMonth', 'BRCYear']]

df_footfall.info()
df_footfall.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793558 entries, 0 to 793557
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Location           793558 non-null  object
 1   LocationYear       793558 non-null  object
 2   LocationYearMonth  793558 non-null  object
 3   Count              793558 non-null  int64
 4   DateTime           793558 non-null  datetime64[ns]
 5   Date               793558 non-null  datetime64[ns]
 6   Year               793558 non-null  int64
 7   YearMonth          793558 non-null  period[M]
 8   Month              793558 non-null  int64
 9   YearMonthDay       793558 non-null  object
 10  MonthDay           793558 non-null  int64
 11  YearWeekDay        793558 non-null  object
 12  WeekDay            793558 non-null  int64
 13  YearMonthWeekDay   793558 non-null  object
 14  WeekDayName        793558 non-null  object
 15  IsWeekend          793558 non-null  bool
 16  BRCWeekNum         793558 non-null  int64
 17  BRCMonthNum        793558 non-null  int64
 18  BRCMonth           793558 non-null  object
 19  BRCYear            793558 non-null  int64
dtypes: bool(1), datetime64[ns](2), int64(8), object(8), period[M](1)
memory usage: 115.8+ MB

,Location,LocationYear,LocationYearMonth,Count,DateTime,Date,Year,YearMonth,Month,YearMonthDay,MonthDay,YearWeekDay,WeekDay,YearMonthWeekDay,WeekDayName,IsWeekend,BRCWeekNum,BRCMonthNum,BRCMonth,BRCYear
0,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,3,2020-03-08 00:00:00,2020-03-08,2020,2020-03,3,2020-8,8,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020
1,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,6,2020-03-08 01:00:00,2020-03-08,2020,2020-03,3,2020-8,8,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020
2,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,1,2020-03-08 02:00:00,2020-03-08,2020,2020-03,3,2020-8,8,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020
3,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,30,2020-03-08 03:00:00,2020-03-08,2020,2020-03,3,2020-8,8,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020
4,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,20,2020-03-08 04:00:00,2020-03-08,2020,2020-03,3,2020-8,8,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020

# Stage 2: Add and View

In [7]:
# *
df_footfall['NumRecords'] = df_footfall.groupby('Location')['Location'].transform('count')

df_footfall.info()
df_footfall.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793558 entries, 0 to 793557
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Location           793558 non-null  object
 1   LocationYear       793558 non-null  object
 2   LocationYearMonth  793558 non-null  object
 3   Count              793558 non-null  int64
 4   DateTime           793558 non-null  datetime64[ns]
 5   Date               793558 non-null  datetime64[ns]
 6   Year               793558 non-null  int64
 7   YearMonth          793558 non-null  period[M]
 8   Month              793558 non-null  int64
 9   YearMonthDay       793558 non-null  object
 10  MonthDay           793558 non-null  int64
 11  YearWeekDay        793558 non-null  object
 12  WeekDay            793558 non-null  int64
 13  YearMonthWeekDay   793558 non-null  object
 14  WeekDayName        793558 non-null  object
 15  IsWeekend          793558 non-null  bool
 16  BRCWeekNum         793558 non-null  int64
 17  BRCMonthNum        793558 non-null  int64
 18  BRCMonth           793558 non-null  object
 19  BRCYear            793558 non-null  int64
 20  NumRecords         793558 non-null  int64
dtypes: bool(1), datetime64[ns](2), int64(9), object(8), period[M](1)
memory usage: 121.8+ MB

,Location,LocationYear,LocationYearMonth,Count,DateTime,Date,Year,YearMonth,Month,YearMonthDay,...,YearWeekDay,WeekDay,YearMonthWeekDay,WeekDayName,IsWeekend,BRCWeekNum,BRCMonthNum,BRCMonth,BRCYear,NumRecords
0,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,3,2020-03-08 00:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
1,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,6,2020-03-08 01:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
2,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,1,2020-03-08 02:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
3,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,30,2020-03-08 03:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
4,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,20,2020-03-08 04:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904

In [8]:
# *
df_footfall.drop(df_footfall[df_footfall['NumRecords'] != 104904].index, inplace=True)

df_footfall.info()
df_footfall.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629424 entries, 0 to 793557
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Location           629424 non-null  object
 1   LocationYear       629424 non-null  object
 2   LocationYearMonth  629424 non-null  object
 3   Count              629424 non-null  int64
 4   DateTime           629424 non-null  datetime64[ns]
 5   Date               629424 non-null  datetime64[ns]
 6   Year               629424 non-null  int64
 7   YearMonth          629424 non-null  period[M]
 8   Month              629424 non-null  int64
 9   YearMonthDay       629424 non-null  object
 10  MonthDay           629424 non-null  int64
 11  YearWeekDay        629424 non-null  object
 12  WeekDay            629424 non-null  int64
 13  YearMonthWeekDay   629424 non-null  object
 14  WeekDayName        629424 non-null  object
 15  IsWeekend          629424 non-null  bool
 16  BRCWeekNum         629424 non-null  int64
 17  BRCMonthNum        629424 non-null  int64
 18  BRCMonth           629424 non-null  object
 19  BRCYear            629424 non-null  int64
 20  NumRecords         629424 non-null  int64
dtypes: bool(1), datetime64[ns](2), int64(9), object(8), period[M](1)
memory usage: 101.4+ MB

,Location,LocationYear,LocationYearMonth,Count,DateTime,Date,Year,YearMonth,Month,YearMonthDay,...,YearWeekDay,WeekDay,YearMonthWeekDay,WeekDayName,IsWeekend,BRCWeekNum,BRCMonthNum,BRCMonth,BRCYear,NumRecords
0,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,3,2020-03-08 00:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
1,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,6,2020-03-08 01:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
2,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,1,2020-03-08 02:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
3,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,30,2020-03-08 03:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904
4,Albion Street South,Albion Street South-2020,Albion Street South-2020-03,20,2020-03-08 04:00:00,2020-03-08,2020,2020-03,3,2020-8,...,2020-6,6,2020-03-6,Sunday,True,32,8,August,2020,104904

In [ ]:
# *
df_footfall['TotCountByLocationByYear'] = (df_footfall.groupby(['Location', 'Year'])['Count'].transform('sum'))

df_footfall.info()
df_footfall.head()

In [ ]:
# *
plt.rcParams["figure.figsize"] = (15,10)
fig = plt.figure()
ax = fig.add_subplot()
df_footfall_samp1 = df_footfall.drop_duplicates('LocationYear')
for name,group in df_footfall_samp1.groupby(['Year']):
    group.plot.line(ax=ax, x="Location",y="TotCountByLocationByYear", label= str(name))
    ax.set_ylabel('Footfall Count By Year')
    ax.set_xlabel('Location')
    plt.title('Total Count by Location per Year', fontsize=15)
    ax.tick_params(axis='x', rotation=45)

plt.show()

In [ ]:
# *
df_footfall['TotCountByWeekDayByYear'] = (df_footfall.groupby(['WeekDay', 'Year'])['Count'].transform('sum'))

df_footfall.info()
df_footfall.head()

In [ ]:
# *
df_footfall_samp2 = df_footfall.drop_duplicates('YearWeekDay')
print(df_footfall_samp2.groupby(['WeekDay']).count())

In [ ]:
# *
df_footfall_samp2 = df_footfall_samp2[['WeekDayName', 'Year', 'TotCountByWeekDayByYear']]
df_footfall_samp3 = df_footfall_samp2.pivot(index='WeekDayName', columns='Year')

df_footfall_samp3.columns = df_footfall_samp3.columns.droplevel(0)
df_footfall_samp3.info()
df_footfall_samp3.head()

In [ ]:
# *
plt.rcParams["figure.figsize"] = (15,10)
fig = plt.figure()
ax = fig.add_subplot()
df_footfall_samp3.plot(ax=ax, kind='bar')
ax.set_ylabel('Footfall Count By Year')
ax.set_xlabel('Week Day')
plt.title('Total Count per Week Day per Year', fontsize=15)
ax.tick_params(axis='x', rotation=45)

plt.show()

In [ ]:
# *
df_footfall['TotCountByMonth'] = (df_footfall.groupby(['Month'])['Count'].transform('sum'))

df_footfall.info()
df_footfall.head()

In [ ]:
# *
df_footfall_samp4 = df_footfall.drop_duplicates('Month')
print(df_footfall_samp4.groupby(['Month']).count())

In [ ]:
# *
df_footfall_samp4 = df_footfall_samp4[['Month', 'TotCountByMonth']]

df_footfall_samp4.info()
df_footfall_samp4.head(12)

## Time series

In [ ]:
df_footfall.set_index('DateTime', inplace=True)

In [ ]:
df_footfall_noncovid = df_footfall[df_footfall['Year'] <= 2019]
df_footfall_noncovid.info()
df_footfall_noncovid.head()

In [ ]:
from statsmodels.tsa.stattools import adfuller

def plot(ts, name, sec, choice):
    
    plt.rcParams["figure.figsize"] = (15,10)
    fig = plt.figure()
    ax = fig.add_subplot()
    ts.plot.line(ax, color='blue',label='Original')
    
    if 'rolmean' in choice:
        rolmean = ts.rolling(sec).mean()
        rolmean.plot.line(ax, color='red', label='Rolling Mean')
    if 'rolstd' in choice:
        rolstd = ts.rolling(sec).std()
        rolstd.plot.line(ax, color='black', label = 'Rolling Std')
    if 'expmean' in choice:
        expmean = ts.ewm(sec).mean()
        expmean.plot.line(ax, color='green', label = 'Exp Mean')
        
        
    plt.legend(loc='best')
    ax.set_ylabel('Count')
    ax.set_xlabel('DateTime')
    plt.title(str(name), fontsize=15)
    ax.tick_params(axis='x', rotation=45)
    plt.show()

def test_stationarity(ts, name, sec, choice):
    
    plot(ts, name, sec, choice)
    
    print('Results of Dickey-Fuller Test:')
    dftest = adfuller(ts)
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print(dfoutput)

In [ ]:
dc = {}

In [ ]:
for name,group in df_footfall_noncovid.groupby(['Location']):
    ts = group['Count']
    dc[name] = ts
    test_stationarity(ts, name, 24, set(['rolmean', 'rolstd']))

In [ ]:
test_stationarity(dc['Albion Street South'], 'Albion Street South', 24, set(['rolmean', 'rolstd']))

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
# Original Series
fig, axes = plt.subplots(3, 3)
axes[0, 0].plot(dc['Albion Street South']); axes[0, 0].set_title('Original Series')
plot_acf(dc['Albion Street South'], ax=axes[0, 1], lags=20)
plot_pacf(dc['Albion Street South'], ax=axes[0, 2], lags=20)

# 1st Differencing
axes[1, 0].plot(dc['Albion Street South'].diff()); axes[1, 0].set_title('1st Order Differencing')
plot_acf(dc['Albion Street South'].diff().dropna(), ax=axes[1, 1], lags=20)
plot_pacf(dc['Albion Street South'].diff().dropna(), ax=axes[1, 2], lags=20)


# 2nd Differencing
axes[2, 0].plot(dc['Albion Street South'].diff().diff()); axes[2, 0].set_title('2nd Order Differencing')
plot_acf(dc['Albion Street South'].diff().diff().dropna(), ax=axes[2, 1], lags=20)
plot_pacf(dc['Albion Street South'].diff().diff().dropna(), ax=axes[2, 2], lags=20)

plt.show()

In [ ]:
from pmdarima.arima.utils import ndiffs

## Adf Test
#ndiffs(dc['Albion Street South'], test='adf')  #1

# KPSS test
#ndiffs(dc['Albion Street South'], test='kpss')  #1

# PP test:
#ndiffs(dc['Albion Street South'], test='pp') #0

In [ ]:
from statsmodels.tsa.arima.model import ARIMA
from pandas import datetime

model = ARIMA(dc['Albion Street South'], order=(1,0,1))
model_fit = model.fit()
print(model_fit.summary())

In [ ]:
# Plot residual errors
residuals = pd.DataFrame(model_fit.resid)
fig, ax = plt.subplots(1,2)
residuals.plot(title="Residuals", ax=ax[0])
residuals.plot(kind='kde', title='Density', ax=ax[1])
plt.show()

In [ ]:
# Actual vs Fitted
# predict
forecast = model_fit.predict()

# visualization
fig, ax = plt.subplots(1, 1)
plt.plot(dc['Albion Street South'], label = "original")
plt.plot(forecast, label = "predicted")
plt.title("Time Series Forecast")
plt.xlabel("Date")
plt.ylabel("Footfall")
plt.legend()
plt.show()

In [ ]:
from statsmodels.tsa.stattools import acf

# Create Training and Test
train = dc['Albion Street South'][:'2019-01-01']
test = dc['Albion Street South']['2019-01-01':]

model = ARIMA(train, order=(1, 0, 1))  
fitted = model.fit()

In [ ]:
# Forecast
fc = fitted.forecast(15, alpha=0.05)  # 95% conf
print(fc)

In [ ]:
# Make as pandas series
#fc_series = pd.Series(fc, index=test.index)
#lower_series = pd.Series(conf[:, 0], index=test.index)
#upper_series = pd.Series(conf[:, 1], index=test.index)
print(fc_series)

In [ ]:
# Plot
plt.figure(figsize=(12,5), dpi=100)
plt.plot(test, label='actual')
plt.plot(train, label='training')
#plt.plot(fc, label='forecast')
#plt.fill_between(lower_series.index, lower_series, upper_series, color='k', alpha=.15)
plt.title('Forecast vs Actuals')
plt.legend(loc='upper left', fontsize=8)
plt.show()

sort the indexing
check the missing values - which day, time?
how model work
tensorflow
precsion loss with aggregation - week (last resort)
garch model